* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 102px;
    margin-left: 136px;
    margin-right: 136px;
    font-family: DM Sans;
}

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-weight: 500;
    font-size: 50px;
    color: #181717;
}

header nav {
    display: flex;
    gap: 29px;
}

header nav p {
    font-weight: 500;
    font-size: 22px;
    color: #181717;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 153px;
}

.section-1 .aside {
    width: 457px;
    height: 405px;
    background-color: #606060;
}

.section-1 .about h2 {
    width: 470px;
    font-weight: 500;
    font-size: 60px;
    color: #181717;
}

.section-1 .about p {
    width: 550px;
    padding-top: 47px;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 24px;
    color: #606060;
}

.info {
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.info div {
    display: flex;
    gap: 55px;
}

.info div h3 {
    font-weight: 500;
    font-size: 22px;
    text-decoration: underline;
    color: #181717;
}

.info div p {
    width: 380px;
    font-weight: 400;
    font-size: 20px;
    color: #181717;
}

.line {
    margin-top: 86px;
    height: 2px;
    background-color: #181717
}

.contact {
    margin-top: 71px;
    display: flex;
    gap: 392px;
}

.contact div {
    display: flex;
    gap: 41px;
}

.contact div p {
    width: 347px;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 32px;
    color: #181717;
}

.contact div img {
    width: 21px;
    height: 24px;
}

.contact p {
    font-weight: 400;
    font-size: 32px;
    color: #181717;
}

footer {
    margin-top: 135px;
    display: flex;
    justify-content: space-between;
}

footer p {
    font-weight: 500;
    font-size: 22px;
    color: #2429AF;
}

footer div {
    display: flex;
    gap: 30px;
}

footer div p {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 22px;
    color: #181717;
}